<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("meta", required: false)
    
    <title>@ViewBag.Title</title>

    <link href="//fonts.googleapis.com/css?family=Gentium+Book+Basic:700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="~/assets/css/style.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="banner @(ViewBag.IsStart != null && ViewBag.IsStart == true ? "startpage" : "")" role="banner">
        <div class="bg"></div>
        @if (ViewBag.IsStart != null && ViewBag.IsStart == true) {
            <h1>
                @ViewBag.Title
                @if (ViewBag.Ingress != null) {
                    <small>
                        @ViewBag.Ingress
                    </small>
                }
            </h1>
        }
        @RenderSection("submenu", required: false)
    </div>
    <div class="header clearfix">
        <div class="container">
            <nav>
                @Html.Partial("Partial/_Menu.cshtml")
            </nav>
            <a href="~/"><img src="~/assets/img/logo.png" alt="Piranha CMS" /></a>
        </div>
    </div>

    @RenderBody()

    <footer class="footer">
        <div class="container">
            <p>&copy; 2017 Håkan Edling | <a target="_blank" href="http://twitter.com/tidyui">@@tidyui</a></p>
        </div>
    </footer>

    <script src="~/assets/js/script.min.js"></script>
</body>
</html>
