@model Piranha.Models.Post
@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <h1>@Model.Title</h1>
    <p class="post-meta small">
        Published @Model.Published in @Model.Category.Title
    </p>
    <p class="lead">
        @Model.Excerpt
    </p>
    @Html.Raw(Model.Body)
</div>
