@model Piranha.Areas.Manager.Models.SiteEditModel
@{
    ViewBag.Title = "Edit site";
    ViewBag.Controller = "Site";
}

@section script {
    <script>
        document.getElementById('Site_Title').focus();
    </script>
}

@using (var form = Html.BeginForm("Save", "Site", FormMethod.Post, new { @class = "form", @role = "form" })) {
    @Html.HiddenFor(m => m.Site.Id)

    <div class="row">
        <div class="col-sm-12 buttons">
            <!-- Actions -->
            <button type="submit" class="btn btn-labeled btn-success pull-right">
                <span class="btn-label">
                    <i class="fas fa-check"></i>
                </span>
                @if (Model.Site.Id != Guid.Empty) {
                    <text>Update</text>
                } else {
                    <text>Save</text>
                }
            </button>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
        <div class="row">
            <div class="col-sm-12">
                <div class="@ViewBag.MessageCss">
                    @Html.Raw(ViewBag.Message)
                </div>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">General information</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        @Html.TextBoxFor(m => m.Site.Title, new { @class = "form-control", maxlength = 128 })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Internal Id</label>
                        @Html.TextBoxFor(m => m.Site.InternalId, new { @class = "form-control", maxlength = 64 })
                    </div>                
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Site.Description, new { @class = "form-control small", maxlength = 256 })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Culture</label>
                        @Html.TextBoxFor(m => m.Site.Culture, new { @class = "form-control small", maxlength = 5, placeholder = "Optional culture" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Hostnames</label>
                        @Html.TextBoxFor(m => m.Site.Hostnames, new { @class = "form-control small", maxlength = 256, placeholder = "Optional hostnames" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>IsDefault</label>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Site.IsDefault, new { @class = "checkbox" })
                                If this should be the default site of the installation.
                            </label>
                        </div>            
                    </div>
                </div>
                <div class="col-sm-6">
                    @if (Model.SiteTypes.Count() > 0)
                    {
                        <div class="form-group">
                            <label>Site Type</label>
                            <select name="Site.SiteTypeId" class="form-control small">
                                <option @(string.IsNullOrEmpty(Model.Site.SiteTypeId) ? "selected=selected": "")></option>
                                @foreach (var type in Model.SiteTypes)
                                {
                                    <option value="@type.Id" @(Model.Site.SiteTypeId == type.Id ? "selected=selected": "")>@type.Title</option>
                                }
                            </select>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}