@{
    var module = Piranha.App.Modules.Get<Piranha.Manager.Module>();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="//fonts.googleapis.com/css?family=Gentium+Book+Basic:700" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="~/manager/assets/css/style.min.css" rel="stylesheet" type="text/css" />
    @foreach (var style in module.Styles) {
    <link href="@Url.Content(style)" rel="stylesheet" type="text/css" />        
    }
    <link type="image/x-icon" rel="icon" href="~/manager/assets/img/icon.ico">
    <link type="image/x-icon" rel="shortcut icon" href="~/manager/assets/img/icon.ico">

    @RenderSection("head", required: false)
</head>
<body>
    <nav class="navmenu navmenu-inverse navmenu-fixed-left" role="navigation">
        <a class="navmenu-brand" href="#">
            <div class="logo-main"></div>
            <div class="logo-small"></div>
        </a>
        @Html.Partial("Partial/_Menu")
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>@ViewBag.Title
                    @if (!String.IsNullOrWhiteSpace(ViewBag.Subtitle)) {
                        @Html.Raw(ViewBag.Subtitle)
                    }
                </h1>
            </div>
        </div>
        @RenderBody()
    </div>

    @Html.Partial("Partial/_MediaModal.cshtml")
    @Html.Partial("Partial/_PreviewModal.cshtml")
    @Html.Partial("Partial/_PageModal.cshtml")
    @Html.Partial("Partial/_PostModal.cshtml")
    @Html.Partial("Partial/_BlockModal.cshtml")
    @foreach (var partial in module.Partials) 
    {
        @Html.Partial(partial)
    }

    <div id="notifications-container" class="notifications-container"></div>

    <div class="notification">
        <div class="icon"><span class="fas fa-check-circle"></span></div>
    </div>

    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
    </script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script type="text/javascript" src="~/manager/assets/js/script.min.js"></script>
    <script type="text/javascript" src="~/manager/assets/tinymce/tinymce.min.js"></script>
    @foreach (var script in module.Scripts) {
    <script type="text/javascript" src="@Url.Content(script)"></script>
    }
    @Html.Partial("Partial/_EditorSetup")
    @RenderSection("script", required: false)
</body>
</html>
