@model Piranha.Areas.Manager.Models.PreviewModel
@{
    Layout = "";

    var sizes = Piranha.App.Modules.Get<Piranha.Manager.Module>().PreviewSizes;
}

<html style="height:100%">
    <head>
        <title>Live Preview</title>

        <link href="~/manager/assets/css/style.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="live-preview">
        <div class="preview">
            <div class="preview-header">
                @foreach (var size in sizes)
                {
                    <a class="preview-size" href="#" data-width="@size.Width"><i class="@size.IconCss"></i><span>@size.Title</span></a>
                }
            </div>
            <div class="preview-body">
                <iframe id="preview" src="@Model.Permalink">
                </iframe>
            </div>
        </div>
        <script type="text/javascript" src="~/manager/assets/js/script.min.js"></script>
        <script type="text/javascript" src="~/manager/assets/js/script.signalr.min.js"></script>
        <script>
            "use strict";

            var currentId = '@Model.Id';
            var connection = new signalR.HubConnectionBuilder().withUrl('/manager/preview').build();

            connection.on('Update', function (id) {
                if (id == currentId)
                    document.getElementById('preview').contentWindow.location.reload();
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            $(document).on('click', '.preview-size', function (e) {
                $('#preview').css({ width: $(this).attr('data-width') });
            });
        </script>
    </body>
</html>