@model Piranha.Areas.Manager.Models.MediaListModel
@using Piranha.Models
@{
    ViewBag.Title = "Media";
    ViewBag.Subtitle = "";
    ViewBag.Controller = "Media";

    foreach (var item in Model.Breadcrumb) {
        ViewBag.Subtitle += $"<small>/ <a href=\"{Url.Action("List", new { folderId = item.Id })}\">{@item.Name}</a></small>";
    }
}

@section script {
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            $("#dropzone").dropzone({
                paramName: 'Uploads',
                url: '@Url.Action("Add")',
                uploadMultiple: true,
                init: function () {
                    this.on("queuecomplete", function(file) {
                        location.reload();
                    });
                }
            });
        });

        function allowDrop (e) {
            e.preventDefault();
        }

        function drag (e) {
            e.dataTransfer.setData("text", $(e.target).attr('data-id'));
        }

        function drop (e) {
            e.preventDefault();
            var data = e.dataTransfer.getData("text");
            var targetId = $(e.target).attr('data-id');
            if (!targetId)
                targetId = $(e.target).closest('tr').attr('data-id');
        
            $('#mediaId').val(e.dataTransfer.getData("text"));
            $('#targetId').val(targetId);
            $('#move-form').submit();
        }        
    </script>    
}

@using (var form = Html.BeginForm("Move", "Media", FormMethod.Post, new { id="move-form", @class = "form", role = "form" })) {
    <input type="hidden" id="mediaId" name="mediaId" value="">
    <input type="hidden" id="folderId" name="folderId" value="@Model.CurrentFolderId">
    <input type="hidden" id="targetId" name="targetId" value="">
}

<div class="row">
    <div class="col-sm-12 buttons">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-labeled btn-primary" data-toggle="dropdown">
                <span class="btn-label">
                    <i class="fas fa-plus"></i>
                </span>Add
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#" data-toggle="modal" data-target="#modalAddFolder">New folder</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalAddMedia">New upload</a></li>
            </ul>
        </div>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Add")" class="dropzone needsclick dz-clickable" id="dropzone" enctype="multipart/form-data">
            @Html.Hidden("ParentId", Model.CurrentFolderId)

            <div class="dz-message needsclick">
                <span class="fas fa-cloud-upload-alt"></span>
                Drop files here or click to upload.
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-main table-media">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="medium">Type</th>
                    <th class="date">Size</th>
                    <th class="date">Modified</th>
                    <th clsas="actions one"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CurrentFolderId.HasValue) {
                    <tr ondrop="drop(event)" ondragover="allowDrop(event)" data-id="@Model.ParentFolderId">
                        <td class="text-limit-cell">
                            <span class="text-limit">
                                <span class="fas fa-folder-open media-icon"></span>
                                <a href="@Url.Action("List", new { folderId = Model.ParentFolderId })">...</a>
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="actions one"></td>                        
                    </tr>
                }
                @foreach (var folder in Model.Folders) {
                    <tr ondrop="drop(event)" ondragover="allowDrop(event)" data-id="@folder.Id">
                        <td class="text-limit-cell">
                            <span class="text-limit">
                                <span class="fas fa-folder-open media-icon"></span>
                                <a href="@Url.Action("List", new { folderId = folder.Id})">@folder.Name</a>
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td>@folder.Created.ToString("yyyy-MM-dd")</td>
                        <td class="actions one">
                            <a href="@Url.Action("DeleteFolder", new { id = folder.Id})" data-toggle="tooltip" data-original-title="Delete folder" data-placement="top">
                                <span class="fas fa-trash text-danger"></span>
                            </a>
                        </td>
                    </tr>
                }
                @foreach (var item in Model.Media) {
                    <tr data-id="@item.Id" draggable="true" ondragstart="drag(event)">
                        <td class="text-limit-cell">
                            <div class="dd-handle">
                                    <span class="fas fa-ellipsis-v"></span>
                            </div>
                            <span class="text-limit">
                                @if (item.Type == MediaType.Image) {
                                    <span class="fas fa-image media-icon"></span>
                                } else if (item.Type == MediaType.Video) {
                                    <span class="fas fa-film media-icon"></span>
                                } else if (item.Type == MediaType.Document) {
                                    <span class="fas fa-book media-icon"></span>
                                } else {
                                    <span class="fas fa-exclamation-triangle media-icon"></span>                                
                                }
                                <a href="#" target="_blank" data-toggle="modal" data-target="#modalImgPreview" data-filename="@item.Filename" data-url="@Url.Content(item.PublicUrl)" data-contenttype="@item.ContentType" data-filesize="@Piranha.Utils.FormatByteSize(item.Size)" data-modified="@item.LastModified.ToString("yyyy-MM-dd")" data-id="@item.Id" data-parentid="@item.FolderId">@item.Filename</a>
                            </span>
                        </td>
                        <td>@item.ContentType</td>
                        <td>@Piranha.Utils.FormatByteSize(item.Size)</td>
                        <td>@item.LastModified.ToString("yyyy-MM-dd")</td>
                        <td class="actions one">
                            <a href="@Url.Action("Delete", new { id = item.Id})" data-toggle="tooltip" data-original-title="Delete" data-placement="top">
                                <span class="fas fa-trash text-danger"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("Partial/_MediaModal.cshtml", Model)
@Html.Partial("Partial/_FolderModal.cshtml", Model)
