@model Piranha.Areas.Manager.Models.MediaListModel
@using Piranha.Data
@{
    ViewBag.Title = "Media";
    ViewBag.Controller = "Media";
}

<div class="row">
    <div class="col-sm-12 buttons">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-labeled btn-primary" data-toggle="dropdown">
                <span class="btn-label">
                    <i class="glyphicon glyphicon-plus"></i>
                </span>Add
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#" data-toggle="modal" data-target="#modalAddFolder">New folder</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modalAddMedia">New upload</a></li>
            </ul>
        </div>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12 breadcrumb">
        <a href="@Url.Action("List", "Media", new { folderId = ""})">Media</a>
        @foreach (var item in Model.Breadcrumb) {
            <span>/ </span><a href="@Url.Action("List", new { folderId = item.Id })">@item.Name</a>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-main">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="date">Size</th>
                    <th class="date">Modified</th>
                    <th clsas="actions one"></th>
                </tr>
            </thead>
            <tbody>
                @if (!string.IsNullOrWhiteSpace(Model.CurrentFolderId)) {
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-folder-open media-icon"></span>
                            <a href="@Url.Action("List", new { folderId = Model.ParentFolderId })">...</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="actions one"></td>                        
                    </tr>
                }
                @foreach (var folder in Model.Folders) {
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-folder-open media-icon"></span>
                            <a href="@Url.Action("List", new { folderId = folder.Id})">@folder.Name</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td>@folder.Created.ToString("yyyy-MM-dd")</td>
                        <td class="actions one">
                            <a href="@Url.Action("DeleteFolder", new { id = folder.Id})" data-toggle="tooltip" data-original-title="Delete folder" data-placement="top">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </a>
                        </td>
                    </tr>
                }
                @foreach (var item in Model.Media) {
                    <tr>
                        <td>
                            @if (item.Type == MediaType.Image) {
                                <span class="glyphicon glyphicon-picture media-icon"></span>
                            } else if (item.Type == MediaType.Video) {
                                <span class="glyphicon glyphicon-film media-icon"></span>
                            } else if (item.Type == MediaType.Document) {
                                <span class="glyphicon glyphicon-book media-icon"></span>
                            } else {
                                <span class="glyphicon glyphicon-exclamation-sign media-icon"></span>                                
                            }
                            <a href="#" target="_blank" data-toggle="modal" data-target="#modalImgPreview" data-filename="@item.Filename" data-url="@Url.Content(item.PublicUrl)" data-contenttype="@item.ContentType" data-filesize="@(Math.Round(@item.Size / (double)1024, 1))kB" data-modified="@item.LastModified.ToString("yyyy-MM-dd")" data-id="@item.Id" data-parentid="@item.FolderId">@item.Filename</a>
                        </td>
                        <td>@item.ContentType</td>
                        <td>@Math.Round(item.Size / (double)1024) kB</td>
                        <td>@item.LastModified.ToString("yyyy-MM-dd")</td>
                        <td class="actions one">
                            <a href="@Url.Action("Delete", new { id = item.Id})" data-toggle="tooltip" data-original-title="Delete" data-placement="top">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("Partial/_MediaModal.cshtml", Model)
@Html.Partial("Partial/_FolderModal.cshtml", Model)
