@model Piranha.Areas.Manager.Models.MediaListModel
@using Piranha.Models
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("ModalAdd", "Media")" class="dropzone needsclick dz-clickable" id="dropzonemodal" enctype="multipart/form-data">
            @Html.Hidden("ParentId", Model.CurrentFolderId)

            <div class="dz-message needsclick">
                <span class="fas fa-cloud-upload-alt"></span>
                Drop files here or click to upload.
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-main">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th class="date">Size</th>
                    <th class="date">Modified</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CurrentFolderId.HasValue) {
                    <tr>
                        <td>
                            <span class="fas fa-folder-open media-icon"></span>
                            <a href="#" data-type="folder" data-folderid="@Model.ParentFolderId" data-filter="@Model.Filter.ToString().ToLower()">...</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                @foreach (var folder in Model.Folders) {
                    <tr>
                        <td>
                            <span class="fas fa-folder-open media-icon"></span>
                            <a href="#" data-type="folder" data-folderid="@folder.Id" data-filter="@Model.Filter.ToString().ToLower()">@folder.Name</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td>@folder.Created.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
                @foreach (var item in Model.Media) {
                    <tr>
                        <td>
                            @if (item.Type == MediaType.Image) {
                                <span class="fas fa-image media-icon"></span>
                            } else if (item.Type == MediaType.Video) {
                                <span class="fas fa-film media-icon"></span>
                            } else if (item.Type == MediaType.Document) {
                                <span class="fas fa-book media-icon"></span>
                            } else {
                                <span class="fas fa-exclamation-triangle media-icon"></span>                                
                            }
                            <a href="#" data-type="item" data-id="@item.Id" data-name="@item.Filename" data-url="@Url.Content(item.PublicUrl)" data-contenttype="@item.ContentType" data-filesize="@Piranha.Utils.FormatByteSize(item.Size)" data-modified="@item.LastModified.ToString("yyyy-MM-dd")">@item.Filename</a>
                        </td>
                        <td>@item.ContentType</td>
                        <td>@Piranha.Utils.FormatByteSize(item.Size)</td>
                        <td>@item.LastModified.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
