@page "~/manager/login"
@model LoginModel
@inject ManagerLocalizer Localizer
@{
    Layout = null;
    var module = Piranha.App.Modules.Get<Piranha.Manager.Module>();
}
@section script
{
    <script>
        $(document).ready(function() {
            $("#username").focus();
        });
    </script>
}

<!doctype html>
<html lang="en" style="min-height:100%">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/manager/assets/css/slim.min.css">
    @foreach (var style in module.Styles) {
    <link href="@Url.Content(style)" rel="stylesheet" type="text/css" />
    }

    <title>@Localizer.General["Login"]</title>
</head>
<body id="login">
    <div class="container">
        <form method="post">
            <div class="card card-login">
                <div class="card-body card-body-logo">
                    <div class="logo">
                    </div>
                    <p class="banner">
                        Piranha CMS
                        <small>@Localizer.General["Version"] @Piranha.Utils.GetAssemblyVersion(typeof(Piranha.Manager.Module).Assembly)</small>
                    </p>
                </div>
                <div class="card-body card-body-form">
                    <div class="form-group">
                        <input id="username" name="username" type="text" class="form-control form-control-lg text-center" placeholder="@Localizer.General["Username"].Value.ToLower()">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control form-control-lg text-center" placeholder="@Localizer.General["Password"].Value.ToLower()">
                    </div>
                    <button class="btn btn-lg btn-block btn-primary" type="submit">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>