@page "~/manager/media/{folderId?}"
@model MediaListViewModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer Localizer
@{
    ViewBag.MenuItem = "Media";
    var folderId = @RouteData.Values["folderId"];
}
@section script
{
    <script src="~/manager/assets/js/piranha.media.min.js"></script>

    <script>
        piranha.permissions.load(function () {
            piranha.media.load("@folderId");
        });
    </script>
}

<div id="media">
    <div class="top mb-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">@Localizer.Menu["Content"]</li>
                <li class="breadcrumb-item active" aria-current="page">@Localizer.Menu["Media"]</li>
            </ol>
        </nav>

        <div v-if="!loading" class="container-fluid">
            <div class="top-nav">
                @foreach (var action in Piranha.Manager.Actions.Toolbars.MediaList)
                {
                    <partial name="@action.ActionView" />
                }
            </div>
        </div>
    </div>

    <div class="app" :class="{ ready: !loading }">
        <div class="container-fluid">
            <nav class="my-3">
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item ">
                        <a href="#" v-on:click.prevent="showList" v-bind:class="{ active: listView }" class="nav-link" ><i class="fas fa-list"></i> @Localizer.Media["List"]</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-on:click.prevent="showGallery" v-bind:class="{ active: !listView }" class="nav-link"><i class="fas fa-table"></i> @Localizer.Media["Gallery"]</a>
                    </li>
                </ul>
            </nav>
        </div>

        @if ((await Auth.AuthorizeAsync(User, Permission.MediaAdd)).Succeeded)
        {
            <div class="container-fluid">
                <div id="media-upload-container" class="dropzone-container">
                    <form action="@Url.Action("Upload", "MediaApi")" class="dropzone needsclick dz-clickable" enctype="multipart/form-data">
                        <input type="hidden" name="Model.ParentId" v-model="currentFolderId" />
                        <div class="dz-message needsclick text-center">
                            <span class="fas fa-cloud-upload-alt"></span>
                            @Localizer.Media["Drop files here or click to upload."]
                        </div>
                        <div class="file-list"></div>
                    </form>
                    <ul class="media-list list-unstyled"></ul>
                </div>
            </div>
        }

        <template v-if="listView">
            <partial name="Partial/_MediaList" />
        </template>

        <template v-else>
            <partial name="Partial/_MediaGallery" />
        </template>
    </div>

    <partial name="Partial/_MediaFolderModal" />
</div>