@model Piranha.Areas.Manager.Models.PageEditFieldSet
@using Piranha.Models

<div class="row">
    @for (var n = 0; n < Model.Count; n++) {
        <div class="col-sm-@(Model[n].Options.HasFlag(FieldOption.HalfWidth) ? "6" : "12")">
            <div class="form-group">
                @Html.HiddenFor(m => m[n].Id)
                @Html.HiddenFor(m => m[n].CLRType)
                @if (Model.Count > 1) {
                    <label>@Model[n].Title</label>
                }
                @if (Model[n].Value.GetType().IsGenericType) {
                    @Html.EditorFor(m => m[n].Value, Model[n].Value.GetType().BaseType.Name, new { Placeholder = Model[n].Placeholder })
                } else {
                    @Html.EditorFor(m => m[n].Value, Model[n].Value.GetType().Name, new { Placeholder = Model[n].Placeholder })
                }
            </div>
        </div>
    }
</div>
