@inject IViewLocalizer Localizer

<!-- The Modal -->
<div class="modal fade" id="previewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">{{ media.filename }}</h5>
                <button type="button" class="close" v-on:click.prevent="closeModal">&times;</button>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#pills-preview">@Localizer["Preview"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-details">>@Localizer["Details"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-update">>@Localizer["Update"]</a>
                </li>
            </ul>

            <!-- Modal Body -->
            <div class="modal-body bg-light">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-preview">
                        <img class="d-block mx-auto mw-100" v-bind:src="media.publicUrl" />
                    </div>
                    <div class="tab-pane fade" id="pills-details">
                        <table class="table table-borderless m-0">
                            <tbody>
                                <tr>
                                    <th>@Localizer["Filename"]</th>
                                    <td>{{ media.filename }}</td>
                                </tr>
                                <tr>
                                    <th>@Localizer["Content type"]</th>
                                    <td>{{ media.contentType }}</td>
                                </tr>
                                <tr>
                                    <th>@Localizer["Size"]</th>
                                    <td>{{ size }}</td>
                                </tr>
                                <tr>
                                    <th>@Localizer["Width"]</th>
                                    <td>{{ media.width }}</td>
                                </tr>
                                <tr>
                                    <th>@Localizer["Height"]</th>
                                    <td>{{ media.height }}</td>
                                </tr>
                                <tr>
                                    <th>@Localizer["Last modified"]</th>
                                    <td>{{ media.lastModified }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pills-update">
                        Update
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>