@inject Piranha.IApi Api
@{
    var sitemap = Api.Sites.GetSitemap();
}

@*Not the best solution but meanwhile... class = d-sm-block d-md-none is hiding on md screen solution*@
<nav class="navbar navbar-toggleable-sm navbar-dark bg-faded d-sm-block d-md-none">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @foreach (var item in sitemap)
            {
                <a class="nav-item nav-link @(item.Id == ViewBag.CurrentPage ? "active" : "")" href="@item.Permalink"><span>@item.MenuTitle</span></a>
            }
        </div>
    </div>
</nav>
@*Not the best solution but meanwhile... class =  d-none d-md-block is hiding on sm screen solution*@
<nav class="navbar d-none d-md-block">
    <ul class="nav nav-site justify-content-center">
        @foreach (var item in sitemap)
        {
            <li class="nav-item @(item.Id == ViewBag.CurrentPage ? "active" : "")">
                <a class="nav-link" href="@item.Permalink"><span>@item.MenuTitle</span></a>
            </li>
        }
    </ul>
</nav>
