@model Piranha.Areas.Manager.Models.PageEditFieldSet
@using Piranha.Models
@{
    Layout = null;
    var unique = Guid.NewGuid().ToString();
}

<div class="region-list-item">
    <div class="region-list-heading" role="tab" id="heading-@unique">
        <div class="handle">
            <span class="glyphicon glyphicon-option-vertical"></span>
        </div>                    
        <div class="region-actions">
            <button type="button" class="delete" data-toggle="tooltip" data-original-title="Delete" data-placement="top"><span class="glyphicon glyphicon-remove text-danger"></span></button>
        </div>
        <a class="region-title" role="button" data-toggle="collapse" href="#region-@unique" aria-expanded="false" aria-controls="region-@unique">
            @Model.ListTitle
        </a>
    </div>
    <div class="region-list-body collapse" role="tabpanel" id="region-@unique">
        <div class="row">
            @for (var n = 0; n < Model.Count; n++) {
                <div class="col-sm-@(Model[n].Options.HasFlag(FieldOption.HalfWidth) ? "6" : "12")">
                    <div class="form-group">
                        @Html.HiddenFor(m => m[n].Id)
                        @Html.HiddenFor(m => m[n].CLRType)
                        @if (Model.Count > 1) {
                            <label>@Model[n].Title</label>
                        }
                        @Html.EditorFor(m => m[n].Value, Model[n].Value.GetType().Name)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
