@model Piranha.Areas.Manager.Models.PageEditRegionCollection

<div id="@Model.Id" class="region-list" role="tablist">
    @for (var i = 0; i < Model.FieldSets.Count; i++) {
        <div class="region-list-item">
            <div class="region-list-heading" role="tab" id="heading-@(Model.Id)-@(i + 1)">
                <div class="handle">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </div>                    
                <a role="button" data-toggle="collapse" data-parent="#@Model.Id" href="#region-@(Model.Id)-@(i + 1)" aria-expanded="false" aria-controls="region-@(Model.Id)-@(i + 1)">
                    Collapsible Group Item #@(i + 1)
                </a>                    
            </div>
            <div class="region-list-body collapse" role="tabpanel" id="region-@(Model.Id)-@(i + 1)">
                @for (var n = 0; n < Model.FieldSets[i].Count; n++) {
                    <div class="form-group">
                        @Html.HiddenFor(m => m.FieldSets[i][n].Id)
                        @Html.HiddenFor(m => m.FieldSets[i][n].CLRType)
                        @if (Model.FieldSets[i].Count > 1) {
                            <label>@Model.FieldSets[i][n].Title</label>
                        }
                        @Html.EditorFor(m => m.FieldSets[i][n].Value, Model.FieldSets[i][n].Value.GetType().Name)
                    </div>
                }
            </div>
        </div>
    }
</div>

<div class="well well-sm region-list-toolbar">
    Insert toolbar here for adding items
</div>
