@model Piranha.Areas.Manager.Models.PageEditRegionCollection
@using Piranha.Models

<div id="@Model.Id" class="region-list" role="tablist">
    @for (var i = 0; i < Model.FieldSets.Count; i++) {
        @Html.EditorFor(m => m.FieldSets[i], "PageEditRegionItem.cshtml")
    }
</div>

<div class="well well-sm region-list-toolbar">
    <button type="button" class="btn btn-primary addRegionItem" data-pagetypeid="" data-regiontypeid="" data-regionindex="@ViewData["regionIndex"]" data-itemindex="@Model.FieldSets.Count" data-listid="@Model.Id">Add item</button>
</div>
