@model Piranha.AspNetCore.Identity.Models.RoleListModel
@{
    ViewBag.Title = "Roles";
    ViewBag.Controller = "Role";
}

<div class="row">
    <div class="col-sm-12 buttons">
        <a href="@Url.Action("Add")" class="btn btn-labeled btn-primary pull-right">
            <span class="btn-label">
                <i class="fas fa-plus"></i>
            </span>Add role
        </a>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<table class="table table-striped table-main">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center"># of Users</th>
            <th class="actions one"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles) {
            <tr>
                <td class="text-limit-cell">
                    <span class="text-limit">
                        <a href="@Url.Action("Edit", new { id = role.Id})">@role.Name</a>
                    </span>
                </td>
                <td class="text-center">@role.UserCount</td>
                <td class="actions one">
                    <a class="remove" href="@Url.Action("Delete", new { id = role.Id })">
                        <span class="fas fa-trash text-danger"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>