@model Blog.Models.StartModel
@{
    ViewBag.Title = Model.Title;
}

<header role="banner">
    <div class="container">
        <img src="~/assets/img/start.png" alt="Piranha CMS" />
    </div>
</header>

<div class="container">
    <h1>@Model.Title</h1>
    @Model.Regions.Body
</div>

<div class="container">
    @foreach (var post in Model.Archive.Posts) {
        <article>
            <header>
                <h2><a href="@post.Permalink">@post.Title</a></h2>
            </header>
            <p>
                @post.Excerpt
            </p>
        </article>
    }
</div>
