@model Piranha.Areas.Manager.Models.PostModalModel
@using Piranha.Models
@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12">
        <select class="form-control">
           @foreach (var blog in Model.Blogs) {
               <option value="@blog.Id">@blog.Title</option>
           } 
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-main">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="date">Published</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts) {
                    <tr>
                        <td>
                            <a href="#" data-type="item" data-id="@post.Id" data-title="@post.Title">@post.Title</a>
                        </td>
                        <td>@post.Published?.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
