@inject ManagerLocalizer Localizer

<form id="aliasForm" action="post" v-on:submit.prevent="save()" novalidate>
    <div id="aliasModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fas fa-random"></i> @Localizer.Alias["Add new alias"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id" v-model="model.id" type="hidden">
                    <div class="form-group">
                        <label for="aliasUrl">@Localizer.Alias["Alias URL"]</label>
                        <input id="aliasUrl" v-model="model.aliasUrl" class="form-control" type="text" required>
                        <div class="invalid-feedback">
                            @Localizer.Alias["Alias URL is mandatory."]
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="redirectUrl">@Localizer.Alias["Redirect URL"]</label>
                        <input id="redirectUrl" v-model="model.redirectUrl" class="form-control" type="text" required>
                        <div class="invalid-feedback">
                            @Localizer.Alias["Redirect URL is mandatory."]                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isPermanent">@Localizer.Alias["Permanent"]</label>
                        <div class="form-check">
                            <input id="isPermanent" v-model="model.isPermanent" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="isPermanent">
                                @Localizer.Alias["If the redirect should be permanent"]
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-labeled">
                        <i class="fas fa-check"></i>@Localizer.General["Save"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
