@inject ManagerLocalizer Localizer

<div id="postSettings" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title"><i class="fas fa-cog"></i> @Localizer.General["Settings"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#" class="nav-link" :class="{ active: selectedSetting === 'uid-settings' }" v-on:click.prevent="selectSetting('uid-settings')">@Localizer.General["General"]</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" :class="{ active: selectedSetting === 'uid-seo' }" v-on:click.prevent="selectSetting('uid-seo')">@Localizer.General["SEO"]</a>
                </li>
                <li class="nav-item" v-for="region in settingRegions">
                    <a href="#" class="nav-link" :class="{ active: selectedSetting === region.meta.uid }" v-on:click.prevent="selectSetting(region.meta.uid)">{{ region.meta.name }}</a>
                </li>
            </ul>

            <!-- Body -->
            <div class="modal-body bg-light">
                <div :class="{ 'd-none': selectedSetting != 'uid-settings' }">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Localizer.General["Slug"]</label>
                                <div class="input-group">
                                    <input v-model="slug" type="text" maxlength="128" class="form-control">
                                    <div class="input-group-append">
                                        <div class="input-group-text text-muted">
                                            {{ piranha.utils.strLength(slug) + "/128" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Localizer.General["Redirect"]</label>
                                <div class="input-group">
                                    <input v-model="redirectUrl" type="text" maxlength="256" class="form-control">
                                    <div class="input-group-append">
                                        <div class="input-group-text text-muted">
                                            {{ piranha.utils.strLength(redirectUrl) + "/256" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="enableComments">@Localizer.General["Comments"]</label>
                                <div class="form-switch">
                                    <button id="enableComments" v-on:click.prevent="enableComments = !enableComments" class="switch" :aria-pressed="enableComments"><span></span></button>
                                    <label for="enableComments" class="form-check-label">@Localizer.Post["If comments should be enabled for this post"]</label>
                                </div>
                            </div>
                            <div class="form-group" v-if="routes && routes.length > 1">
                                <label>@Localizer.General["Route"]</label>
                                <select v-model="selectedRoute" class="form-control">
                                    <option :value="route" v-for="route in routes">{{ route.title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Localizer.General["Publish date"]</label>
                                <datepicker v-model="published" :format="'yyyy-MM-dd'" :monday-first="true" :typeable="true" :bootstrap-styling="true"></datepicker>
                            </div>
                            <div class="form-group">
                                <label>@Localizer.General["Redirect Type"]</label>
                                <select v-model="redirectType" class="form-control">
                                    <option value="Permanent">@Localizer.General["Permanent"]</option>
                                    <option value="Temporary">@Localizer.General["Temporary"]</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>@Localizer.Comment["Days allowed for commenting"]</label>
                                <input type="number" v-model.number="closeCommentsAfterDays" class="form-control">
                                <span v-if="enableComments === false" class="field-description small text-muted">
                                    @Localizer.Comment["Comments are not allowed."]
                                </span>
                                <span v-else-if="published === null" class="field-description small text-muted">
                                    @Localizer.Comment["Comments are not allowed for unpublished content."]
                                </span>
                                <span v-else-if="closeCommentsAfterDays === 0 || isCommentsOpen()" class="field-description small text-muted">
                                    @Localizer.Comment["Comments are currently open."]
                                </span>
                                <span v-else class="field-description small text-muted">
                                    @Localizer.Comment["Comments were closed"] {{ commentsClosedDate() }}.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div v-if="permissions.length > 0" class="row">
                        <div class="col">
                            <div class="form-group">
                            <label>@Localizer.General["Permissions"]</label>
                                <span v-if="selectedPermissions.length > 0" class="field-description small text-muted d-block">
                                    @Localizer.Post["By specifying one or more permissions only authenticated users will have access to the post."]
                                </span>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div v-for="permission in permissions" class="col-sm-4">
                                                <div class="checkbox">
                                                    <label class="mb-0">
                                                        <input v-model="selectedPermissions" type="checkbox" :value="permission.key"> {{ permission.value }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div :class="{ 'd-none': selectedSetting != 'uid-seo' }">
                    <div class="form-group">
                        <label>@Localizer.Page["Meta keywords"]</label>
                        <div class="input-group">
                            <input v-model="metaKeywords" type="text" maxlength="128" class="form-control">
                            <div class="input-group-append">
                                <div class="input-group-text text-muted">
                                    {{ piranha.utils.strLength(metaKeywords) + "/128" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Localizer.Page["Meta description"]</label>
                        <div class="input-group">
                            <textarea v-model="metaDescription" rows="5" maxlength="255" class="form-control"></textarea>
                            <div class="input-group-append">
                                <div class="input-group-text text-muted">
                                    {{ piranha.utils.strLength(metaDescription) + "/255" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="region" :class="{ 'd-none': selectedSetting != region.meta.uid }" v-for="region in settingRegions">
                    <region v-bind:content="'post'" v-bind:type="typeId" v-bind:model="region"></region>
                </div>
            </div>
        </div>
    </div>
</div>
