@model Piranha.Areas.Manager.Models.AliasListModel
@{
    ViewBag.Title = "Aliases";
    ViewBag.Controller = "Alias";
}

<div class="row">
    <div class="col-sm-12 buttons">
        @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.AliasesEdit)).Succeeded) {        
            <a href="#" class="btn btn-labeled btn-primary pull-right" data-toggle="modal" data-target="#modalAddAlias">
                <span class="btn-label">
                    <i class="fas fa-plus"></i>
                </span>Add alias
            </a>
        }

        @if (Model.Sites.Count() > 1) {
            <div id="btn-sitepicker" class="btn-group pull-right" style="margin-right: 15px">
                <button type="button" class="btn btn-labeled btn-default" data-toggle="dropdown">
                    <span class="btn-label">
                        <i class="fas fa-globe"></i>
                    </span>@Model.SiteTitle
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    @foreach (var site in Model.Sites) {
                        <li><a href="@Url.Action("List", new { siteId = site.Id })">@site.Title</a></li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<table class="table table-striped table-main">
    <thead>
        <tr>
            <th>Alias URL</th>
            <th>Redirect URL</th>
            <th class="date text-center">Permanent</th>
            <th class="actions one"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alias in Model.Items) {
            <tr>
                <td class="text-limit-cell">
                    <code>@alias.AliasUrl</code>
                </td>
                <td class="text-limit-cell">
                    <code>@alias.RedirectUrl</code>
                </td>
                <td class="text-center">
                    @if (alias.Type == Piranha.Models.RedirectType.Permanent) {
                        <span class="fas fa-check"></span>
                    }
                </td>
                <td class="actions one">
                    @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.AliasesDelete)).Succeeded) {        
                        <a class="remove confirm-delete" href="@Url.Action("Delete", new { id = alias.Id })" data-message="Are you sure you want to delete the alias?">
                            <span class="fas fa-trash text-danger"></span>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalAddAlias" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("Add")" method="post">
            <input type="hidden" name="SiteId" value="@Model.SiteId">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new alias</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Alias URL</label>
                                <input type="text" class="form-control" name="AliasUrl" placeholder="Add a new Alias URL">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Redirect URL</label>
                                <input type="text" class="form-control" name="RedirectUrl" placeholder="Add the URL to redirect to">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="IsPermanent" value="true">
                                    If the redirect should be permanent.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
