@model Piranha.Areas.Manager.Models.PageEditModel

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Navigation title</label>
            @Html.TextBoxFor(m => m.NavigationTitle, new { @class = "form-control", maxlength = 128, placeholder = "The optional navigation title" })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Slug</label>
            @Html.TextBoxFor(m => m.Slug, new { @class = "form-control", maxlength = 128, placeholder = "The unique slug" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @if (!Model.OriginalPageId.HasValue) {
            <div class="form-group">
                <label>Meta Keywords</label>
                @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control small", maxlength = 128, placeholder = "Meta keywords" })
            </div>
            <div class="form-group">
                <label>Meta description</label>
                @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control small count-me", rows = 5, maxlength = 256, placeholder = "Meta description", style = "height:82px" })
                <p>@(Model.MetaDescription != null ? Model.MetaDescription.Length : 0)/255</p>
            </div>
        }
        @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.PagesPublish)).Succeeded) {
            <div class="form-group">
                <label>Publish date</label>
                <div class="input-group date datetimepicker">
                    <input type="text" id="Published" name="Published" class="form-control small" value="@(Model.Published.HasValue ? Model.Published.Value.ToString("yyyy-MM-dd HH:mm") : "")">
                    <span class="input-group-addon">
                        <span class="fas fa-calendar-alt"></span>
                    </span>
                </div>
            </div>
        } else {
            @Html.HiddenFor(m => m.Published)
        }
    </div>
    <div class="col-sm-6">
        @if (!Model.OriginalPageId.HasValue) {
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Redirect</label>
                        @Html.TextBoxFor(m => m.RedirectUrl, new { @class = "form-control small", placeholder = "Optional redirect URL" })
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Redirect type</label>
                        <select name="RedirectType" class="form-control small">
                            <option value="0" @(Model.RedirectType == Piranha.Models.RedirectType.Permanent ? "selected=selected" : "")>Permanent</option>
                            <option value="1" @(Model.RedirectType == Piranha.Models.RedirectType.Temporary ? "selected=selected" : "")>Temporary</option>
                        </select>
                    </div>
                </div>
            </div>
        }
        @if (Model.PageType.Routes.Count > 1) {
            <div class="form-group">
                <label>Route</label>
                <select name="Route" class="form-control small">
                    @foreach (var item in Model.PageType.Routes) {
                        <option value="@item.Route" @(Model.Route == item.Route ? "selected=selected" : "")>@item.Title</option>
                    }
                </select>
            </div>
        }
        <label>Hidden</label>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.IsHidden, new { @class = "checkbox" })
                If the page should be hidden in the sitemap.
            </label>
        </div>
     </div>
</div>
