@page "~/manager/config"
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Config"];
}

<div id="config">
    <form action="">
        <div class="top">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">@Localizer["System"]</li>
                    <li class="breadcrumb-item active" aria-current="page">@Localizer["Config"]</li>
                </ol>
            </nav>

            <div class="container-fluid">
                <div class="top-nav">
                    <button class="btn btn-success btn-labeled" data-toggle="modal" data-target="#aliasModal">
                        <i class="fas fa-check"></i>@Localizer["Save"]
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <span class="title">@Localizer["General"]</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@Localizer["Hierarchical page slugs"]</label>
                                        <blockquote>
                                            If page slugs should take their parent slug into account when
                                            being generated. This is prefered for larger sitemaps.
                                        </blockquote>
                                        <div class="checkbox">
                                            <label>
                                                <input id="hierarchicalPageSlugs" type="checkbox">
                                                If page slugs should include the parent slug.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@Localizer["Expanded levels in the sitemap"]</label>
                                        <blockquote>
                                            The default number of levels that should be expanded in the page
                                            sitemap. This is useful for smaller sitemaps.
                                        </blockquote>
                                        <input id="expandedSitemapLevels" class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@Localizer["Archive page size"]</label>
                                        <blockquote>
                                            The default page size for archive pages. Please note that this this
                                            can be overridden for specific archives.
                                        </blockquote>
                                        <input id="archivePageSize" class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <span class="title">@Localizer["Caching"]</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@Localizer["Page cache expiration (minutes)"]</label>
                                        <blockquote>
                                            The time in minutes that web browsers can use pages before
                                            asking the server for new updates.
                                        </blockquote>
                                        <input id="pagesExpires" class="form-control" type="number">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@Localizer["Post cache expiration (minutes)"]</label>
                                        <blockquote>
                                            The time in minutes that web browsers can use posts before
                                            asking the server for new updates.
                                        </blockquote>
                                        <input id="postsExpires" class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@Localizer["Media CDN"]</label>
                                        <blockquote>
                                            The full URL (including any folder name) to the CDN used to serve
                                            uploaded media. Leave blank to use default storage URL.
                                        </blockquote>
                                        <input id="mediaCDN" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


}