@using Piranha.Manager
@inject ManagerLocalizer Localizer
@inject IAuthorizationService Auth
@{
    var menu = await Menu.Items.GetForUser(User, Auth);
}

<nav class="navbar navbar-left fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="~/manager" tabindex="-1"></a>
    <ul class="navbar-nav">
        @foreach (var group in menu)
        {
            <li class="nav-item nav-header"><span class="navbar-text"><i class="@group.Css"></i>@Localizer.Menu[group.Name]</span></li>
            @foreach (var item in group.Items)
            {
                <li class="nav-item@(ViewBag.MenuItem == item.InternalId ? " active" :"")"><a href="@Url.Content(item.Route)" class="nav-link" tabindex="-1"><i class="@item.Css"></i>@Localizer.Menu[item.Name]</a></li>
            }
        }
        <li class="nav-item nav-header"><a class="navbar-text" href="~/manager/logout"><i class="fas fa-power-off"></i>@Localizer.Menu["Logout"]</a></li>
    </ul>
</nav>
