@model Piranha.Areas.Manager.Models.PageListModel
@{
    ViewBag.Title = "Pages";
    ViewBag.Controller = "Page";

    if (Model.Sites.Count > 1) {
        ViewBag.Title = Model.SiteTitle;
    }
}

@section script {
    <script type="text/javascript">
        $(function () {
            @for (var n = 0; n < Model.PageTypes.Count; n++) {
                <text>
                    manager.pageTypes[@n] = {
                        id: '@Model.PageTypes[n].Id',
                        title: '@Model.PageTypes[n].Title'
                    };
                </text>
            }

            $('.dd').nestable({
                group: 1
            });

            $('.dd').on('change', function() {
                // TODO: Show spinner & block sitemap while saving
                $('#sitemap-spinner').show();

                $.ajax({
                    url: '/manager/pages/move',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Items: $('.dd').nestable('serialize') 
                    }),
                    success: function (data) {
                        // TODO: Hide spinner
                        $('#sitemap-spinner').hide();

                        // Update the sitemap
                        $('.dd .sitemap').html(data);
                    }
                });
            });
        });

        $(document).on('click', '#btn-copy', function (e) {
            e.preventDefault();

            // Show modal
            $('#modalPage').modal('show');
            piranha.page.callback = function (ret) {
                console.log(ret.id);
                window.location.href = '/manager/page/copy/' + ret.id + '/@Model.SiteId';
            };
        });
    </script>
}

<div class="row">
    <div class="col-sm-12 buttons">
        @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.PagesAdd)).Succeeded) {
            <!-- Add new -->
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-labeled btn-primary" data-toggle="dropdown">
                    <span class="btn-label">
                        <i class="fas fa-plus"></i>
                    </span>Add
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    @foreach (var type in Model.PageTypes) {
                        <li><a href="@Url.Action("Add", new { type = type.Id, siteId = Model.SiteId })">@type.Title</a></li>
                    }
                    <li class="divider"></li>
                    <li><a id="btn-copy" href="#">Copy page</a></li>
                </ul>
            </div>
        }

        @if (Model.HasSiteContent) {
            <div id="btn-sitepicker" class="btn-group pull-right" style="margin-right: 15px">
                <a class="btn btn-labeled btn-primary" href="@Url.Action("EditContent", "Site", new { id = Model.SiteContentId })">
                    <span class="btn-label">
                        <i class="fas fa-edit"></i>
                    </span>Edit site
                </a>
            </div>
        }        
        
        @if (Model.Sites.Count > 1) {
            <div id="btn-sitepicker" class="btn-group pull-right" style="margin-right: 15px">
                <button type="button" class="btn btn-labeled btn-default" data-toggle="dropdown">
                    <span class="btn-label">
                        <i class="fas fa-globe"></i>
                    </span>@Model.SiteTitle
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    @foreach (var site in Model.Sites) {
                        <li><a href="@Url.Action("ListSite", new { siteId = site.Id })">@site.Title</a></li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<ol class="sitemap header">
    <li>
        <div class="actions three pull-right"></div>
        <div class="date pull-right">Published</div>
        <div class="info pull-right">Page type</div>
        <div class="content">Title</div>
    </li>
</ol>
<div class="dd">
    <ol class="sitemap dd-list">
        @Html.Partial("Partial/_Sitemap", new Piranha.Areas.Manager.Models.SitemapModel() { 
            Sitemap = Model.Sitemap,
            SiteId = Model.SiteId,
            PageId = Model.PageId, 
            ExpandedLevels = Model.ExpandedLevels 
        })
    </ol>
    <div id="sitemap-spinner" class="spinner" style="display:none"></div>
</div>
