@model Piranha.Areas.Manager.Models.PageModalModel
@using Piranha.Models
@using System.Linq
@{
    Layout = null;
}

@if (Model.Sites.Count() > 1) {
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:15px">
            <div class="form-group">
                <div id="btn-pagemodal-sitepicker" class="btn-group pull-right">
                    <button type="button" class="btn btn-labeled btn-default" data-toggle="dropdown">
                        <span class="btn-label">
                            <i class="fas fa-font"></i>
                        </span>@Model.SiteTitle
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        @foreach (var site in Model.Sites) {
                            <li><a data-type="reload" data-siteid="@site.Id" href="@Url.Action("Modal", new { siteId = site.Id })">@site.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <ol class="sitemap header">
            <li>
                <div class="date pull-right">Published</div>
                <div class="info pull-right">Page type</div>
                <div class="content">Title</div>
            </li>
        </ol>
        <div class="dd">
            <ol class="sitemap dd-list">
                @Html.Partial("Partial/_Sitemap", new Piranha.Areas.Manager.Models.SitemapModel() { 
                    Sitemap = Model.Sitemap, 
                    ExpandedLevels = Model.ExpandedLevels,
                    ReadOnly = true
                })
            </ol>
            <div id="sitemap-spinner" class="spinner" style="display:none"></div>
        </div>
    </div>
</div>
