@model Piranha.Areas.Manager.Models.PageEditRegion

@for (var n = 0; n < Model.FieldSet.Count; n++) {
    <div class="form-group @(Model.FieldSet.Count == 1 ? "single-region" : "")">
        @Html.HiddenFor(m => m.FieldSet[n].Id)
        @Html.HiddenFor(m => m.FieldSet[n].CLRType)
        @if (Model.FieldSet.Count > 1) {
            <label>@Model.FieldSet[n].Title</label>
        }
        @Html.EditorFor(m => m.FieldSet[n].Value, Model.FieldSet[n].Value.GetType().Name)
    </div>
}