@model CoreWeb.Models.BlogArchive
@using Piranha
@{
    ViewBag.Title = Model.Title;
}

@section meta {
    <partial name="Partial/_Meta" />
}

<div class="container body">
    <h1>@Model.Title</h1>

    <div class="lead">
        @Html.Raw(Model.Body)
    </div>

    @foreach (var post in Model.Archive.Posts) {
        <article>
            <header>
                <h2><a href="@post.Permalink">@post.Title</a></h2>
            </header>
            <p class="small">Published: @post.Published.Value.ToString("yyyy-MM-dd") in @post.Category.Title</p>
            @if (!string.IsNullOrWhiteSpace(post.Regions.Heading.Ingress)) {
                @Html.Raw(post.Regions.Heading.Ingress)
            } else if (post.Blocks.Count > 0 && post.Blocks[0] is Piranha.Extend.Blocks.HtmlBlock) {
                @Html.Raw(Utils.FirstParagraph(((Piranha.Extend.Blocks.HtmlBlock)post.Blocks[0]).Body))
            }
        </article>
    }
</div>
