@model CoreWeb.Models.StandardPage
@inject Piranha.Api Api
@{
    ViewBag.Title = Model.Title;

    Piranha.Models.Sitemap sitemap = Api.Sites.GetSitemap();
    Piranha.Models.Sitemap partial = null;

    if (!string.IsNullOrEmpty(Model.ParentId)) {
        foreach (var item in sitemap) {
            if (item.HasChild(Model.Id)) {
                partial = sitemap.GetPartial(item.Id);
            }
        }
    }

    Func<Piranha.Models.SitemapItem, string> Css = (item) => {
        if (item.Id == Model.Id) {
            return "class=active";
        } else if (item.HasChild(Model.Id)) {
            return "class=active-child";
        }
        return "";
    };    
}
@section meta {
    @Html.Partial("Partial/_PageMeta", Model)
}

@section submenu {
    @if (partial != null) {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 submenu">
                    <ul class="nav nav-pills pull-right">
                        @foreach (var item in partial) {
                            if (!item.IsHidden) {
                                <li role="presentation" @Css(item)><a href="@item.Permalink">@item.MenuTitle</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}

<div class="container body">
    <h1>@Model.Title</h1>

    <p class="small">Published: @Model.Published.Value.ToString("yyyy-MM-dd") | Last Modified: @Model.LastModified.ToString("yyyy-MM-dd")</p>

    @if (Model.Heading.PrimaryImage.HasValue) {
        <img src="@Url.Content(Model.Heading.PrimaryImage)">
    }

    @if (!string.IsNullOrEmpty(Model.Heading.Ingress.Value)) {
        <p class="ingress">@Model.Heading.Ingress.Value</p>
    }

    @Html.Raw(Model.Body)
</div>