@model CoreWeb.Models.StandardPage
@inject Piranha.IApi Api
@{
    ViewBag.Title = Model.Title;

    Piranha.Models.Sitemap sitemap = Api.Sites.GetSitemap();
    Piranha.Models.Sitemap partial = null;
    Piranha.Models.Sitemap third = null;

    if (Model.ParentId.HasValue) {
        foreach (var item in sitemap) {
            if (item.HasChild(Model.Id)) {
                partial = sitemap.GetPartial(item.Id);
            }
        }
    } else {
        partial = sitemap.GetPartial(Model.Id);
    }

    if (partial != null) {
        foreach (var item in partial) {
            if (item.HasChild(Model.Id)) {
                third = sitemap.GetPartial(item.Id);
            }
        }
    }

    Func<Piranha.Models.SitemapItem, string> Css = (item) => {
        if (item.Id == Model.Id) {
            return "class=active";
        } else if (item.HasChild(Model.Id)) {
            return "class=active-child";
        }
        return "";
    };    
}
@section meta {
    <partial name="Partial/_Meta" />
}

@section submenu {
    @if (partial != null) {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 submenu">
                    <ul class="nav nav-pills pull-right">
                        @foreach (var item in partial) {
                            if (!item.IsHidden) {
                                <li role="presentation" @Css(item)><a href="@item.Permalink">@item.MenuTitle</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}

<div class="container body">
    @if (third != null) {
        <div class="row">
            <div class="col-sm-12">
                <div class="pagemenu">
                    @foreach (var item in third) {
                        if (!item.IsHidden) {
                            <span @(item.Id == Model.Id ? "class=active" : "")><a href="@item.Permalink">@item.MenuTitle</a></span>
                        }
                    }
                </div>
            </div>
        </div>
    }

    <h1>@Model.Title</h1>

    <p class="small">Published:
        @if (Model.Published.HasValue) {
            <text>@Model.Published.Value.ToString("yyyy-MM-dd") | Last Modified: @Model.LastModified.ToString("yyyy-MM-dd")</text>
        } else {
            <span class="label label-info">Unpublished</span>
        }
    </p>

    @if (Model.Heading.PrimaryImage.HasValue) {
        <img src="@Url.Content(Model.Heading.PrimaryImage)">
    }

    @if (!string.IsNullOrEmpty(Model.Heading.Ingress.Value)) {
        <p class="ingress">@Model.Heading.Ingress.Value</p>
    }

    @Html.DisplayFor(m => m.Blocks)
</div>