@model CoreWeb.Models.BlogPost
@inject Piranha.IApi Api
@{
    ViewBag.Title = Model.Title;
}

@section meta {
    <partial name="Partial/_Meta" />
}

<div class="container body">
    <h1>@Model.Title</h1>

    <p class="small">Published:
        @if (Model.Published.HasValue) {
            <text>@Model.Published.Value.ToString("yyyy-MM-dd") | Last Modified: @Model.LastModified.ToString("yyyy-MM-dd")</text>
        } else {
            <span class="label label-info">Unpublished</span>
        }
    </p>

    @if (Model.Heading.PrimaryImage.HasValue) {
        <img src="@Url.Content(Model.Heading.PrimaryImage.Resize(Api, 700, 250))">
    }

    @if (!string.IsNullOrEmpty(Model.Heading.Ingress.Value)) {
        <div class="lead">@Html.Raw(Model.Heading.Ingress.Value)</div>
    }

    @Html.DisplayFor(m => m.Blocks)
</div>