@model CoreWeb.Models.TeaserPage
@{
    ViewBag.Title = Model.Title;
}
@section meta {
    @Html.Partial("Partial/_PageMeta", Model)
}
@Html.Partial("Partial/Teasers", Model.Teasers)

<div class="container body">
    <h1>@Model.Title</h1>

    <p class="small">Published: @Model.Published.Value.ToString("yyyy-MM-dd") | Last Modified: @Model.LastModified.ToString("yyyy-MM-dd")</p>

    @if (Model.Heading.PrimaryImage.HasValue) {
        <img src="@Url.Content(Model.Heading.PrimaryImage)">
    }

    @if (!string.IsNullOrEmpty(Model.Heading.Ingress.Value)) {
        <p class="ingress">@Model.Heading.Ingress.Value</p>
    }

    @Html.Raw(Model.Body)
</div>