@model Piranha.Areas.Manager.Models.ContentEditBlock
@{
    Layout = null;
}

<div class="sortable-item">
    <div class="block">
        <div class="block-actions">
            <div class="btn btn-secondary btn-sm sortable-handle"><span class="fas fa-ellipsis-v"></span></div>
            <button class="btn btn-secondary btn-sm block-settings" style="display:none"><span class="fas fa-cog"></span></button>
            <button class="btn btn-secondary btn-sm block-remove"><span class="fas fa-trash"></span></button>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CLRType)
        @Html.HiddenFor(m => m.IsReusable)
        @Html.HiddenFor(m => m.Value.Id )
        @Html.EditorFor(m => m.Value, Model.Value.GetType().Name)
    </div>
    <div class="block-add">
        <div class="block-add-dialog">
            @foreach (var category in Piranha.App.Blocks.GetCategories()) {
                <label>@category</label>
                @foreach (var block in Piranha.App.Blocks.GetByCategory(category)) {
                    <a href="#" data-typename="@block.TypeName"><i class="@block.Icon"></i>@block.Name</a>
                }
            }
        </div>
        <a href="#" class="block-add-toggle">
            <hr><span class="fas fa-plus"></span>
        </a>
    </div>
</div>
