@model Piranha.Extend.Blocks.HtmlColumnBlock
@{
    var prefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix
        .Replace("[", "_").Replace("]", "_").Replace(".", "_");    
    var isEmpty1 = string.IsNullOrWhiteSpace(Model.Column1.Value);
    var isEmpty2 = string.IsNullOrWhiteSpace(Model.Column2.Value);
}

@Html.HiddenFor(m => m.Column1.Value, "")
@Html.HiddenFor(m => m.Column2.Value, "")
<div class="block-extras">
    <button class="btn btn-secondary btn-sm block-html-swap">
        <span class="fas fa-exchange-alt"></span>
    </button>
</div>
<div class="row">
    <div class="col-sm-6">
        <div id="Editor_@Guid.NewGuid()" class="block-editor content-preview editor-area @(isEmpty1 ? "empty" : "check-empty")" data-id="@(prefix)_Column1_Value">
            @if (!string.IsNullOrWhiteSpace(Model.Column1.Value)) {
                @Html.Raw(Model.Column1.Value)
            } else {
                <p></p>
            }
        </div>
    </div>
    <div class="col-sm-6">
        <div id="Editor_@Guid.NewGuid()" class="block-editor content-preview editor-area @(isEmpty2 ? "empty" : "check-empty")" data-id="@(prefix)_Column2_Value">
            @if (!string.IsNullOrWhiteSpace(Model.Column2.Value)) {
                @Html.Raw(Model.Column2.Value)
            } else {
                <p></p>
            }
        </div>
    </div>
</div>
