@model Piranha.Extend.Blocks.HtmlColumnBlock
@{
    var prefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix
        .Replace("[", "_").Replace("]", "_").Replace(".", "_");    
}

@Html.HiddenFor(m => m.Column1.Value)
@Html.HiddenFor(m => m.Column2.Value)
<div class="row">
    <div class="col-sm-6 block-editor content-preview editor-area" data-id="@(prefix)_Column1_Value">
        @Html.Raw(Model.Column1.Value)
    </div>
    <div class="col-sm-6 block-editor content-preview editor-area" data-id="@(prefix)_Column2_Value">
        @Html.Raw(Model.Column2.Value)
    </div>
</div>
