@model Piranha.Extend.Blocks.ImageBlock
@{
    var prefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix
        .Replace("[", "_").Replace("]", "_").Replace(".", "_");
    var unique = "Image_" + Guid.NewGuid().ToString();
}

<div class="block-image">
    <img id="@(unique)_Preview" src="@(Model.Body.Media != null ? Url.Content(Model.Body.Media.PublicUrl) : "/manager/assets/img/block-img-placeholder.png")">
    <div class="block-image-picker">
        <div class="row">
            <div class="col-xs-9">
                @Html.HiddenFor(m => m.Body.Id)
                <div class="well well-sm">
                    <a id="@(unique)_Filename" href="#" data-toggle="modal">
                        @if (Model.Body.Media != null) {
                            @Model.Body.Media.Filename
                        } else {
                            <text>&nbsp;</text>
                        }
                    </a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group" style="padding-right:5px">
                        <button class="btn btn-primary text-center" type="button" data-toggle="modal" data-target="#modalMedia" data-filter="image" data-mediaid="@(prefix)_Body_Id" data-medianame="@(unique)_Filename" data-mediaurlid="@(unique)_Preview">
                            <span class="fas fa-plus"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group" style="padding-left:5px">
                        <button class="btn btn-danger text-center btn-media-clear" type="button" data-mediaid="@(prefix)_Body_Id" data-medianame="@(unique)_Filename" data-mediaurlid="@(unique)_Preview">
                            <span class="fas fa-times"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>