@model Piranha.Areas.Manager.Models.PageEditFieldSet
@{
    Layout = null;
    var unique = Guid.NewGuid().ToString();
}

<div class="region-list-item">
    <div class="region-list-heading" role="tab" id="heading-@unique">
        <div class="region-tool handle sortable-handle @(Model.NoExpand ? "no-expand" : "")">
            <span class="glyphicon glyphicon-option-vertical"></span>
        </div>                    
        <div class="region-tool region-actions @(Model.NoExpand ? "no-expand" : "")">
            <button type="button" class="delete" data-toggle="tooltip" data-original-title="Delete" data-placement="top"><span class="glyphicon glyphicon-trash text-danger"></span></button>
        </div>
        <div class="region-content">
            @if (Model.NoExpand) {
                @Html.Partial("Partial/_PageEditRegionContent", Model)
            } else {
                <a class="region-title" role="button" data-toggle="collapse" href="#region-@unique" aria-expanded="false" aria-controls="region-@unique">
                    @Model.ListTitle
                </a>
            }
        </div>
    </div>
    @if (!Model.NoExpand) {
        <div class="region-list-body collapse" role="tabpanel" id="region-@unique">
            @Html.Partial("Partial/_PageEditRegionContent", Model)
        </div>
    }
</div>
