@model Piranha.Areas.Manager.Models.PageEditRegion
@using Piranha.Models

<div class="row">
    @if (!string.IsNullOrEmpty(Model.Description)) 
    {
        <div class="region-description">
            <i class="fas fa-info-circle"></i>
            <p>@Html.Raw(Model.Description)</p>
        </div>
    }
    @for (var n = 0; n < Model.FieldSet.Count; n++) 
    {
        <div class="col-sm-@(Model.FieldSet[n].Options.HasFlag(FieldOption.HalfWidth) ? "6" : "12")">
            <div class="form-group @(Model.FieldSet.Count == 1 ? "single-region" : "")">
                @Html.HiddenFor(m => m.FieldSet[n].Id)
                @Html.HiddenFor(m => m.FieldSet[n].CLRType)
                @if (Model.FieldSet.Count > 1) 
                {
                    <label>@Model.FieldSet[n].Title</label>
                }
                @if (Model.FieldSet[n].Value.GetType().IsGenericType) 
                {
                    @Html.EditorFor(m => m.FieldSet[n].Value, Model.FieldSet[n].Value.GetType().BaseType.Name, new { Placeholder = Model.FieldSet[n].Placeholder })
                } 
                else 
                {
                    @Html.EditorFor(m => m.FieldSet[n].Value, Model.FieldSet[n].Value.GetType().Name, new { Placeholder = Model.FieldSet[n].Placeholder })
                }
            </div>
        </div>
    }
</div>
