@model Piranha.Extend.Fields.PageField
@{
    var prefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix
        .Replace("[", "_").Replace("]", "_").Replace(".", "_");
}

<div class="row">
    <div class="col-xs-9">
        @Html.HiddenFor(m => m.Id)
        <div class="well well-sm">
            <a id="@(prefix)_Title" href="#" >@(Model.Page != null ? Model.Page.Title : "")</a>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group" style="padding-right:5px">
                <button class="btn btn-primary btn-labeled btn-block" type="button" data-toggle="modal" data-target="#modalPage" data-pageid="@(prefix)_Id" data-pagetitle="@(prefix)_Title">
                    <span class="btn-label">
                        <i class="fas fa-plus"></i>
                    </span>Add
                </button>
            </div>
            <div class="btn-group" role="group" style="padding-left:5px">
                <button class="btn btn-danger btn-labeled btn-block btn-page-clear" type="button" data-pageid="@(prefix)_Id" data-pagetitle="@(prefix)_Title">
                    <span class="btn-label">
                        <i class="fas fa-times"></i>
                    </span>Remove
                </button>
            </div>
        </div>
    </div>
</div>
