@page
@model TeaserPageModel
@{
    ViewData["Title"] = Model.Data.Title;
}

@Html.DisplayFor(m => m.Data.Hero)

@if (Model.Data.LatestPost != null)
{
    <div class="container latest-post">
        <div class="row">
            <div class="col text-center">
                Latest news:
                <strong>@Model.Data.LatestPost.Published.Value.ToString("yyyy-MM-dd")</strong>
                -
                <a href="@Model.Data.LatestPost.Permalink">@Model.Data.LatestPost.Title</a>
            </div>
        </div>
    </div>
}

<partial name="Partial/Teasers" for="Data.Teasers" />

<div class="container body-container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">
            @Html.DisplayFor(m => m.Data.Blocks)
        </div>
    </div>
</div>

<partial name="Partial/Quotes" for="Data.Quotes" />
